<ion-view view-title="账户中心">
  	<!-- <ion-nav-bar class="bar-royal"> -->
  		<!-- <ion-nav-back-button>
		</ion-nav-back-button> --><!-- 可以直接放在ion-nav-bar下, 如需要其他button, 再在下面加ion-nav-buttons side="left" -->
	    <!-- <ion-nav-buttons side="left"> -->
	    	<!-- <button class="button button-icon icon ion-ios-plus-outline" publish-info="'参数'"></button> -->
		    <!-- <ion-nav-back-button>
		    </ion-nav-back-button> --><!-- ion-nav-back-button不能放在ion-nav-buttons中, 报错 -->
	    <!-- </ion-nav-buttons> -->
	    <!-- <ion-nav-title>
	      	账户中心
	    </ion-nav-title> -->
	    <ion-nav-buttons side="right">
		    <span class="two-buttons">
		        <a class="button button-icon icon ion-ios-gear" href="#/user/settings"></a>
		        <!-- <button class="button button-icon icon ion-ios-plus-outline" publish-info="'参数'"></button> -->
		    </span>
	    </ion-nav-buttons>
	<!-- </ion-nav-bar> --><!-- ion-nav-bar, ion-nav-buttons, ion-nav-back-button, ion-nav-title 都可以覆盖父模板的相同元素, 都可以直接置于 ion-view 元素下; 后 3 者也可以嵌套包含在 ion-nav-bar 中, ion-nav-back-button 不可以嵌套在 ion-nav-buttons 中!!! -->

  	<ion-content>
  		<ion-list class="card">
			<a class="item item-avatar" href="#/user/mine">
				<img ng-src="{{accountInfo.head || 'img/defaultAvatar.png'}}" class="round-avatar">
				<h2>{{accountInfo.name}}, {{accountInfo.gender | mapTitle}}</h2>
				<p><span ng-if="accountInfo.mobile">手机: {{accountInfo.mobile}}, </span><span ng-if="accountInfo.available">余额: {{accountInfo.available | currency: '￥'}}</span></p>
				<!-- <span class="item-note">
		          	<i class="icon ion-ios-arrow-right"></i>
		        </span> -->
			</a>
			<ion-item class="item-body">
				<qrcode version="{{5}}" error-correction-level="{{'M'}}" size="{{150}}" data="{{accountInfo.barcode}}" ng-if="accountInfo.barcode" class="center-block"></qrcode><!-- 注意二维码版本号version, 容错率error-correction-level与data的长度密切相关, 低版本encode长data会显示空白 -->
			</ion-item>
			<ion-item ng-if="error.payError" class="no-padding-tb">
	          	{{error.payError}} <i class="icon ion-ios-close" ng-click="error.payError = ''"></i>
	        </ion-item>
			<!-- <ion-item class="tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="">
					<i class="icon ion-thumbsup"></i>
					Like
				</a>
				<a class="tab-item" href="">
					<i class="icon ion-chatbox"></i>
					Comment
				</a>
				<a class="tab-item" href="">
					<i class="icon ion-share"></i>
					Share
				</a>
			</ion-item> -->
		</ion-list>
  	</ion-content>
</ion-view>